body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: linear-gradient(to bottom, #7FFFD4, #FFFF00); /* Gradiente de verde água para amarelo como fundo do #app */

  }
 
  #app {
    max-width: 400px;
    margin: 0 auto;
  }
 
  h1 {
    text-align: center;
  }
 
  div {
    margin-bottom: 10px;
  }
 
  label {
    display: block;
    margin-bottom: 5px;
  }
 
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
 
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
  }
 
  button:hover {
    background-color: #45a049;
  }
 
  ul {
    list-style-type: none;
    padding: 0;
  }
 
  li {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
 
  li:last-child {
    border-bottom: none;
  }



footer a{
    text-decoration: none;
    color:white;
   font-weight: bold;
 
}


body {
    body {
        font-family: Arial, sans-serif;
        margin: 0; /* Removendo a margem para preencher toda a página */
        background: linear-gradient(to bottom, #add8e6, #d8bfd8); /* Gradiente de azul bebê para roxo claro */
        color: black; /* Cor do texto */
    }
    
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: linear-gradient(to bottom, #add8e6, #d8bfd8); /* Fundo azul água para rosa claro */
    color: black; /* Cor do texto */
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: linear-gradient(to bottom, #add8e6, #d8bfd8); /* Fundo azul água para rosa claro */
    background-repeat: no-repeat;

    color: black; /* Cor do texto */
}

#app {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px; /* Adicionando espaço ao redor do conteúdo */
    border-radius: 10px; /* Borda arredondada para o contêiner */
    background-color: white; /* Preenchimento branco dentro do contorno branco */
    box-shadow: 0 0 0 1px black; /* Adiciona um contorno branco */
    color: black; /* Cor do texto dentro do #app */
}

/* Restante do seu CSS permanece inalterado */


