body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
 
  #app {
    max-width: 400px;
    margin: 0 auto;
  }
 
  h1 {
    text-align: center;
  }
 
  div {
    margin-bottom: 10px;
  }
 
  label {
    display: block;
    margin-bottom: 5px;
  }
 
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
 
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
  }
 
  button:hover {
    background-color: #45a049;
  }
 
  ul {
    list-style-type: none;
    padding: 0;
  }
 
  li {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
 
  li:last-child {
    border-bottom: none;
  }



footer a{
    text-decoration: none;
    color:white;
   font-weight: bold;
 
}
